/* global reset */
* { 
	margin:0; 
	padding:0;
	font-size: 100.01%;
}
ul, ol, dl, p, h1, h2, h3, h4, h5, h6, address, form, table, blockquote, applet, embed, object, iframe, frameset{margin:0 0 14px;}
html, body, div, span, applet, embed, object, iframe, frameset,
p, q, blockquote, sub, sup, a, abbr, acronym, font, img, small, center,
h1, h2, h3, h4, h5, h6, b, strong, big, u, ins,
i, cite, em, var, dfn, address, s, strike, del,
dl, dt, dd, ol, ul, li, pre, code, kbd, samp, tt,
fieldset, legend, form, label, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary, time, mark, audio,video{
	border:0;
	background:none;
}

/* ==================================================================================================================== */
/* ! The 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com   */
/* ==================================================================================================================== */

.container {
padding-left: 20px;
padding-right: 20px;
}

.row {
max-width: 1140px;
min-width: 755px;
margin: 0 auto;
/* overflow: hidden; */
}
.row:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
margin-right: 3.8%;
float: left;
min-height: 1px;
}
.row .onecol { width: 4.85%; }
.row .twocol { width: 13.45%; }
.row .threecol { width: 22.05%; }
.row .fourcol { width: 30.75%; }
.row .fivecol { width: 39.45%; }
.row .sixcol { width: 48%; }
.row .sevencol {width: 56.75%; }
.row .eightcol { width: 65.4%; }
.row .ninecol { width: 74.05%; }
.row .tencol { width: 82.7%; }
.row .elevencol { width: 91.35%; }
.row .twelvecol { width: 100%; float: left; }
.last { margin-right: 0px; }

/* Fake Bootstrap */
.col-md-12 { width:100%; clear:both;}
.col-md-6, .col-sm-6, .col-xs-6 {width:49%; float:left; margin: .3%;}
.col-md-4, .col-sm-4 {width:33.333333333%; float:left;}
.col-md-8 {width:62%; float:left;}
.col-md-2 {width:16.6%; float:left;}
.col-md-11 {width: 75%;}


/* Smaller screens */
@media only screen and (max-width: 1023px) {
	body { font-size: 0.8em; line-height: 1.5em; }
	.intro img {
		width: 100%;
		height: auto;
	}
}

/* Mobile */
@media handheld, only screen and (max-width: 767px) {

	body { font-size: 16px; -webkit-text-size-adjust: none; }
	
	.row, body, .container {
	width: 100%;
	min-width: 0;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	}
	
	.row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol {
	width: auto;
	float: none;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 20px;
	padding-right: 20px;
	}

}

.fancybox-skin {
	padding-bottom: 30px !important;	
}
.fancybox-skin iframe {
	margin: 0;
	padding: 0;
}
.fullscreen-callout {
	background-color: #00adef;
	color: #ffffff;
	border-radius: 5px;
	position: absolute;
	bottom: 15px;
	right: 15px;
	padding: 0 10px;	
	box-shadow: 0 3px 5px #888888;
}
.arrow-up {
	position: absolute;
	top: -8px;
	left: 55.5%;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #00adef;
}

html{
	height:100%;
	font-size: 62.5%;
}
body {
	color:#333;
	height:100%;
	width: 100%;
	font:1.3em/1.615em Helvetica, Arial, sans-serif;
	/* min-width:1160px; */
	background:#eceeef url(../images/bg-page.png);
}
a{color:#646567; text-decoration:none;}
a:hover{color:#000; text-decoration:underline;}
input, textarea, select {
	font:100% arial,sans-serif;
	vertical-align:middle;
	color:#000;
	overflow: auto;
}
label{vertical-align:middle;}
button, input{
	width: auto;
	overflow: visible;
}
h1, h2, h3, h4, h5, h6, b, strong, th{font-weight:bold;}
h1{font-size:200%;}
h2{font-size:150%;}
h3{font-size:120%;}
h4{font-size:110%;}
h5{font-size:100%;}
h6{font-size:90%;}
i, cite, em, var, dfn, address{font-style:italic;}
u, ins {text-decoration: underline;}
s, strike, del {text-decoration: line-through;}
blockquote, blockquote:before, blockquote:after, q, q:before, q:after {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';}
table, caption, tbody, tfoot, thead, tr, th, td{
	border-collapse: collapse;
	border-spacing: 0;
}
th, td{
	border:1px solid #ccc;
	padding:3px 7px;
	text-align:left;
	vertical-align:top;
}
th{
	border-color:#999;
	text-align:center;
	vertical-align:middle;
}
ul{margin-left:1px;}
ul li, ol li{list-style-position:inside;}
ul li{list-style-type:disc;}
header, footer, article, section, hgroup, nav, figure { display: block; }
input[type=submit]:hover{cursor:pointer;}
/* global settings */
#wrapper{
	/*
width:100%;
	overflow:hidden;
*/
	position:relative;
	min-height:100%;
}
#header{
	width:100%;
	margin:0 0 40px;
	padding:0 0 38px;
	background:url(../images/bg-header.png) repeat-x 0 100% #FFF;
	position: fixed;
	z-index: 200;
	top:0;
	left:0;
}
/*
#header .holder{
	padding:0 0 30px;
	overflow:hidden;
	width:100%;
	background:url(../images/bg-header-holder.png);
}
#header .frame{
	width:1140px;
	margin:0 auto;
	overflow:hidden;
}
*/
.logo{
	float:left;
	position:relative;
	margin:30px 0;
	padding: 0 0;
	background:url(../images/halski-logo.gif) no-repeat center top;
	height: 120px;
	/* 
	width: 120px;
	overflow:hidden; */
	text-indent:-9999px;
}
.logo.active:after, .logo.active:before {
	top:-30px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
}
.logo.active:after {
	border-top-color: #000;
	border-width: 7px;
	left: 50%;
	margin-left: -7px;
}
.logo.active:before {
	border-top-color: #c3c3c3;
	border-width: 8px;
	left: 50%;
	margin-left: -8px;
}
.logo a{
	height:100%;
	display:block;
	color: #FFF;
	white-space: nowrap;
}
.logo a:hover {
	color: #000;
	text-decoration: none;
}
.row .twocol.logo {
	width:120px;
}
#nav{
	float:right;
	font-size:18px;
	font-family:  "franklin-gothic-ext-comp-urw",sans-serif;
	font-weight:  400;
	text-transform:uppercase;
	letter-spacing:1px;
	padding:82px 0 0;
}
#nav ul{
	margin:0;
	float:right;
}
#nav ul li{
	float:left;
	position:relative;
	margin:0 29px 0 16px;
	list-style:none outside none;
}
#nav ul li:last-child {
	margin-right: 0;
}
#nav a{
	float:left;
	color:#666666;
	cursor:pointer;
}
#nav a:hover {color: #999;}
#nav ul li.active:after, #nav ul li.active:before {
	top: -82px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
}
#nav ul li.active:after {
	border-top-color: #000;
	border-width: 7px;
	left: 50%;
	margin-left: -7px;
}
#nav ul li.active:before {
	border-top-color: #c3c3c3;
	border-width: 8px;	
	left: 50%;
	margin-left: -8px;
}
#nav ul li.active a{color:#000;}
#nav ul li:hover a{text-decoration:none;}

/* Styling for Fixed Navigation */ 
.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
}
#header.navbar-fixed-top  {
	margin: 0;
	background-position: 0 0;
	padding: 0;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
}
#header.navbar-fixed-top .holder {
	padding: 0;
	background: none;
}
.navbar-fixed-top .logo {
	background: none;
	height: 34px;
	text-indent: 0;
	margin: 4px 0 0 25px;
	
	font-size: 24px;
	font-family: "franklin-gothic-ext-comp-urw",sans-serif;
	font-weight: 400;
	text-transform:uppercase;
	letter-spacing:1px;
}
.navbar-fixed-top #nav {
	padding: 7px 0 0;
	position: relative;
    right: 25px;
}
.navbar-fixed-top #nav ul {
	margin: 0;
}


/* END Styling for Fixed Navigation */ 
nav[role="navigation"] .navbar {
	display: none;
	margin: 10px auto;
	text-align: center;
}
nav[role="navigation"] a.btn-navbar {
	font-size: 18px;
	font-family: "franklin-gothic-ext-comp-urw",sans-serif;
	font-weight: 400;
	text-transform:uppercase;
	color: #FFF;
	
	background-color:#646567;
	padding: 3px 15px;
	border-radius: 10px;
	cursor: pointer;
}

nav[role="navigation"] a.btn-navbar:hover {
	text-decoration: none;
	color: #CCC;
	background-color:#000;
	
}

.navbar-fixed-top nav[role="navigation"] .navbar {
	position: absolute;
    right: 20px;
    top: -2px;
}

.navbar-fixed-top .eightcol {
	min-height: 0;
	float: inherit;
}

/*
#main{
	width:1140px;
	margin:238px auto 0;
}
#main:after{
	clear:both;
	content:"";
	display:block;
}
*/
#main {
	padding-top: 238px;
}
#main.gallery-items {
	padding-top: 0;
}
.intro {
	padding: 238px 0 80px 0;
	background-color: #d6d7d8;
}
.intro.one-item {
	background-color: transparent;
}
.gallery-section{
	width:105%;
	margin:0 0 8px;
	overflow:hidden;
}
.gallery-section .col{
	float:left;
	width:351px;
	margin:0 43px 0 0;
}
.gallery-section .col01{margin-top:40px;}
.gallery-section .col03{margin-top:60px;}
.gallery-post{
	position:relative;
	margin:20px;
	width: 331px; 
	float: left;
}
.gallery-post:after{
	clear:both;
	content:"";
	display:block;
}
.gallery-post img{vertical-align:top;}
.gallery-post .holder{
	position:relative;
	-webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}
.gallery-post:hover .holder:before,
.gallery-post:hover .holder:after {
	content:"";
	position:absolute;
	z-index:-1;
	bottom:10px;
	left:16px;
	width:45.5%;
	height:20%;
	max-width:300px;
	-webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.3);
	box-shadow:0 15px 10px rgba(0, 0, 0, 0.3);
	-webkit-transform:rotate(-2deg);
	-moz-transform:rotate(-2deg);
	-o-transform:rotate(-2deg);
	transform:rotate(-2deg);
}
.gallery-post:hover .holder:after{
	right:16px;
	left:auto;
	-webkit-transform:rotate(2deg);
	-moz-transform:rotate(2deg);
	-o-transform:rotate(2deg);
	transform:rotate(2deg);
}
.gallery-post header{
	letter-spacing:1px;
	display:none;
	position:absolute;
	text-align:center;
	top:50%;
	left:0;
	width:331px;
	/* width:311px; */
	background:url(../images/bg-white.png);
	padding:24px 10px 25px;
	margin:-36px 0 0;
	overflow:hidden;
	text-transform:uppercase;
	font-size:1.846em;
	line-height: 1.167em;
	font-family: "franklin-gothic-ext-comp-urw",sans-serif;
}
.gallery-post header ul{margin:0;}
.gallery-post header li{
	display:inline;
	background:url(../images/sep01.png) no-repeat 0 4px;
	padding:0 7px 0 13px;
	list-style:none outside none;
}
.gallery-post header li:first-child{background:none;}
.gallery-post header a{color:#414143;}
.gallery-post header a:hover{text-decoration: none;}
.gallery-post header .category a{color:#000;}
.gallery-post:hover header{display:block;}
#footer{
	background:url(../images/bg-footer.png);
	height:15px;
	padding:10px 0;
	overflow:hidden;
	color:#999;
	font:9px/13px Helvetica, Arial, sans-serif;
	text-align:center;
	letter-spacing:1px;
}
#footer .holder{
	width:100%;
	margin:0 auto;
	overflow:hidden;
}
#footer a{color:#999;}
/* about.html & bios.html */
.visual-list, img.profile{
	/*
overflow:hidden;
	margin:-3px 0 41px;
*/
	margin-bottom: 42px;
}
.visual-list li{
	float:left;
	list-style:none outside none;
}
.visual-list img{vertical-align:top;}
.twocolumns{
	/* overflow:hidden; */
	margin-bottom:41px;
}
#content, .content{
/*	float:left;
	width:450px;
	
font-size:1.077em;
	line-height:1.714em;

	min-height: 900px;*/
}
.bios #content {
	padding-bottom: 45px;
	margin-bottom: 45px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
#content p{margin-bottom:15px;}
.bios #content article {
	margin-top: 85px;
}
.aside{
	/*
float:right;
	width:646px;
*/
	padding-top:51px;
}
.aside.other-bios{
	float:left;
	width:646px;
	padding-top:0;
	opacity: 1;
	position: relative;
	display: block;
}
.bio.other-bios {
	opacity: .40;
	float: left;
	position: absolute;
}

#content h1, .content h1{
	margin:0 0 10px;
	color:#404042;
	text-transform:uppercase;
	letter-spacing:1px;
	font-size:2.571em;
	line-height: 1em;
	font-family: "franklin-gothic-ext-comp-urw",sans-serif;
}
.aside h2 a,
#content h1 a{color:#000;}
.aside nav{
	margin:0 0 0 0;
}
.aside h2{
	margin:0 0 20px;
	word-spacing:2px;
	color:#000;
	letter-spacing:1px;
	text-transform:uppercase;
	font-size:1.846em;
	line-height: 1.083em;
	font-family: "franklin-gothic-ext-comp-urw",sans-serif;
}
.testimonials-link {
	clear: both;
	margin-top: 100px;
}
.aside ul{margin:0;}
.aside li{
	list-style:none outside none;
	padding-bottom:7px;
	color: #646567;
}
/*
.aside nav.col01{width:275px;}
.aside nav.col02{
	width:250px;
	margin:0;
}
*/

#content.bio h2, .content.bio h2 {
	color: #636466;
	letter-spacing:1px;
	text-transform:uppercase;
	font-size:1.846em;
	line-height: 1.083em;
	font-family: "franklin-gothic-ext-comp-urw",sans-serif;
}
/* project.html */
.project-article{
	overflow:hidden;
	padding-top:37px;
	margin-bottom:51px;
}
/*
.project-article .alignleft{
	float:left;
	margin:0 42px 0 0;
}
.project-article .holder{overflow:hidden;}
.project-article .descr{
	overflow:hidden;
	padding:26px 110px 0 0;
}
*/
.project-article header{
	text-transform:uppercase;
	letter-spacing:1px;
	color:#000;
	/* overflow:hidden; */
	margin-bottom:17px;
}
.project-article h1{
	margin:0;
	text-transform:uppercase;
	font-size:1.846em;
	line-height: 1em;
	font-family: "franklin-gothic-ext-comp-urw",sans-serif;
	font-style: normal;
	color: #636466;
}
.project-article h1 a{color:#000;}
.project-article .author{
	display:block;
	text-transform:uppercase;
	font-size:1.846em;
	line-height: 1em;
	font-family: "franklin-gothic-ext-comp-urw",sans-serif;
	font-style: normal;
	color:#414143;
}
.project-article .author a{color:#c30;}
.project-article p{margin-bottom:10px;}
.zoom{
	/*
width:20px;
	height:20px;
	background:url(../images/bg-global.png) no-repeat -173px 0;
	overflow:hidden;
*/
	width: 34px;
	height: 34px;
	opacity: .75;
	background:url(../images/viewfinder.png) no-repeat 0 0;
	margin:32px 0 0 2px;
	float:left;
	text-indent:-9999px;
}
.zoom:hover {
	opacity: 1;
}
.project-article .alignright{float:right;}
.project-article .visual{
	overflow:hidden;
	clear:both;
}
.visual-wrapper h2 {
	margin: 40px 0;
	text-transform:uppercase;
	font-size:1.846em;
	line-height: 1em;
	font-family: "franklin-gothic-ext-comp-urw",sans-serif;
	font-style: normal;
	color: #636466;
	letter-spacing: 1px;
	text-align: center;
}
.gallery-item {
	margin: 20px;
	display: block;
	width: 331px;
	float: left;
}
.gallery-item img {
	width: 331px;
	height: auto;
}
/*
.project-article .visual img{float:left;}
.project-article .visual .alignleft{margin:126px 0 0;}
*/
/* blog-list.html */
.blog-section{
	/*
overflow:hidden;
	padding:59px 53px 0 58px;
	margin-bottom:77px;
*/
}
.post{
	/*
overflow:hidden;
	padding:0 0 75px 45px;
	margin:0 0 71px;
*/
	padding-bottom: 75px;
	margin-bottom: 71px;
	border-bottom:1px solid rgba(0,0,0,.05);
}
.post header{
	/*
float:left;
	width:274px;
	padding:37px 20px 0 0;
*/
	
	padding:37px 0 0 0;
	margin:0 0 -32px;
	font-size:0.923em;
	line-height:1.5em;
	color:#999;
	font-style:italic;
}
.post h1{
	margin:0 0 8px;
	color:#000;
	text-transform:uppercase;
	font-size:2.5em;
	line-height: 1em;
	font-family: "franklin-gothic-ext-comp-urw",sans-serif;
	font-style: normal;
}
.post.gallery h1, .post.video h1{width: 200px;}
.post a{color:#39c;}
.post h1 a{color:#000;}
.post .date{
	text-transform:uppercase;
	font:italic 1em/1.167em Helvetica, Arial, sans-serif;
	margin:0 0 46px;
	display:block;
}
.post header h2{
	margin:0 0 7px;
	font:1.167em/1.143em Helvetica, Arial, sans-serif;
	letter-spacing:1px;
}
.post header ul{margin:0 0 32px;}
.post header ul li{list-style:none outside none}
.post header ul.sharing li {float: left}
.post header ul.sharing li a{text-indent: -999em; display: block; width: 16px; height: 16px; margin-right: 3px;}
.post header ul.sharing li a.facebook {background:url(../images/icons/facebook.gif) no-repeat 0 0;}
.post header ul.sharing li a.twitter {background:url(../images/icons/twitter.gif) no-repeat 0 0;}
.post header ul.sharing li a.pinterest {background:url(../images/icons/pinterest.gif) no-repeat 0 0;}
.post header p{margin:0 0 32px;}
.post .descr a.more,
.more{
	padding:0 17px 0 0;
	text-decoration:none;
	background:url(../images/arrow01.png) no-repeat 100% 6px;
}
.post .descr a.more:hover{text-decoration:underline;}
.post .descr{
	/*
width:548px;
	overflow:hidden;
	padding:0 0 0 99px;
*/
}
.post .video,
.post .gallery{
	/*
margin:0 0 0 -99px;
	width:647px;
	overflow:hidden;
*/
}
.post .video{margin-bottom:5px;}
/*
.post .gallery .frame{
	width:647px;
	overflow:hidden;
	position:relative;
}
*/
.post .gallery .frame ul{
	margin:0;
	width:647px;
	height:469px;
	overflow:hidden;
	position:relative;
}
.post.video .gallery .frame ul{
	height: 360px;
}
.post .gallery .frame li{
	list-style:none outside none;
	position:absolute;
	top:0;
	left:0;
	width:647px;
}
.post .video img,
.post .gallery .frame img{vertical-align:top;}
.post .descr a{text-decoration:underline;}
.post .descr p{margin:0 0 10px;}
.post .descr a:hover{text-decoration:none;}
.post .switcher{
	margin:0 -4px 0 0;
	padding-top:17px;
	float:right;
}
.post .switcher li{
	list-style:none outside none;
	float:left;
	padding:2px 6px 0 12px;
	background:url(../images/sep02.png) no-repeat;
}
.post .switcher li:first-child{background:none;}
.post .switcher a{
	overflow:hidden;
	text-indent:-9999px;
	display:block;
	width:10px;
	height:9px;
	background:url(../images/bg-global.png) no-repeat;
}
.post .switcher a.prev{background-position:-173px -30px;}
.post .switcher a.next{background-position:-173px -49px;}
.blog-nav{
	padding-top:10px;
	letter-spacing:1px;
	text-align:center;
	overflow:hidden;
	text-transform:uppercase;
	font-size:1.846em;
	line-height: 1em;
	font-family: "franklin-gothic-ext-comp-urw",sans-serif;
	font-style: normal;
	color:#666;
}
.blog-nav a{color:#999;}
.bios .blog-nav a:hover{ text-decoration: none; color:#666; }
.blog-nav span{padding:0 5px 0 4px;}
/* single-blog.html */
.post .text-block{
	overflow:hidden;
	/*
padding:30px 0 0;
	margin:0 0 32px;
*/	
	padding-top: 30px;
	margin-bottom:32px;
	margin-left: 8.5%;
}
.comments-block{
	/*
overflow:hidden;
	margin:-30px 0 119px;
	padding:0 0 0 334px;
*/
}
.comments-block img{vertical-align:top;}
/* home.html */
.home-page #header{
	position:absolute;
	margin:0;
	top:0;
	z-index:10;
	left:0;
}
.home-gallery{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
.home-gallery .frame{
	width:100%;
	text-align:center;
	position:relative;
}
.home-gallery .frame ul{
	margin:0;
	position:relative;
	width:100%;
	height:100%;
}
.home-gallery .frame li{
	/*
position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
*/
	list-style:none outside none;
}
.home-gallery .block{
	width:100%;
	overflow:hidden;
	position:relative;
}
.home-gallery .box{
	position:relative;
	left:50%;
	float:left;
	text-align:center;
	min-width:1716px;
	width:100%;
}
.home-gallery .frame li img{
	position:relative;
	float:left;
	left:-50%;
	height:auto;
	width:100%;
	/* height: 100%; */
}
.slogan{
	position:absolute;
	z-index:200;
	width:100%;
	top:50%;
	left: 0;
	margin-top:79px;
}
.slogan img{
	width:100%;
	height:auto;
	display:block;
}
.slogan a {
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 125px;
	font-family: "franklin-gothic-ext-comp-urw";
	font-weight: 700;
	font-style: italic;
	position: relative;
	display: block;
}
.slogan a .we-capture{
	position: absolute;
	left: -10px;
}
.slogan a .brand-passion{
	position: absolute;
	top:50px;
	right:0;
}
.slogan a .learn-more{
	position: absolute;
	top:135px;
	right:25%;
	font-size: 24px;
	opacity: .40;
}
.slogan a:hover .learn-more{
	opacity: .75;
}
.home-gallery .switcher{
	z-index:10;
	position:absolute;
	bottom:26px;
	width:100%;
	left:0;
	text-align:center;
}
.home-gallery .switcher li{
	display:inline-block;
	padding:0 0 0 3px;
}
*+html .home-gallery .switcher li{
	display:inline;
	padding-right:3px;
}
.home-gallery .switcher a{
	display:block;
	width:7px;
	height:6px;
	background:url(../images/bg-global.png) no-repeat -185px -65px;
	overflow:hidden;
	text-indent:-9999px;
}
.home-gallery .switcher .active a,
.home-gallery .switcher a:hover{background-position:-173px -65px;}
/* contact.html */
.contact-section{
	overflow:hidden;
	padding-top:76px;
	margin-bottom:160px;
}
.contact-section .descr{
	/*
float:left;
	width:378px;
	padding:0 116px 0 0;
*/
	font-size:1.077em;
	line-height:1.714em;
}
.contact-section .descr .holder{
	width:444px;
	margin:0 -66px -7px 0;
	padding-top:37px;
	overflow:hidden;
}
.contact-section h1{
	letter-spacing:1px;
	color:#000;
	margin-bottom:10px;
	text-transform:uppercase;
	font-size:2.571em;
	line-height: 1em;
	font-family: "franklin-gothic-ext-comp-urw",sans-serif;
	font-style: normal;
}
.contact-section .descr h2{
	letter-spacing:2px;
	color:#000;
	margin-bottom:10px;
	text-transform:uppercase;
	font-size:1.714em;
	line-height: 1em;
	font-family: "franklin-gothic-ext-comp-urw",sans-serif;
	font-style: normal;
}
.contact-section .col01{
	float:left;
	margin:0 20px 0 0;
	width:40%;
}
.contact-section .col02{overflow:hidden;}
.contact-section ul{
	margin:0;
	overflow:hidden;
	color:#646567;
	font-size:0.9286em;
	line-height:1.846em;
}
.contact-section ul li{
	list-style:none outside none;
	padding-bottom:4px;
	float:left;
	width:100%;
}
.contact-section ul ul{
	font-size:1em;
	line-height:1.846em;
}
.contact-section ul ul li{
	width:auto;
	background:url(../images/sep03.png) no-repeat 0 7px;
	padding:0 8px 0 11px;
}
.contact-section ul ul li:first-child{
	padding-left:0;
	background:none;
}
.contact-form{
	float:left;
	margin:0;
	color:#666;
	width:449px;
	font-size:0.846em;
	padding-top:49px;
	line-height:1.182em;
}
.contact-section .contact-form h2{
	letter-spacing:1px;
	color:#000;
	margin-bottom:15px;
	font:2.182em/1em Helvetica, Arial, sans-serif;
	text-transform:uppercase;
}
.contact-form h2 a{color:#000;}
.contact-form .row{
	overflow:hidden;
	padding-bottom:14px;
}
.contact-form label{
	display:block;
	padding-bottom:5px;
}
.contact-form .txt{
	overflow:hidden;
	background:url(../images/bg-txt.png);
	border:solid #c7c9c9;
	border-width:0 0 1px;
	float:left;
	width:429px;
	padding:7px 10px;
	margin:0;
	color:#666;
	font:12px/14px Helvetica, Arial, sans-serif;
}
.contact-form textarea{
	overflow:auto;
	background:url(../images/bg-txt.png);
	border:solid #c7c9c9;
	border-width:0 0 1px;
	float:left;
	width:429px !important;
	height:265px !important;
	padding:10px;
	margin:0;
	color:#666;
	font:12px/14px Helvetica, Arial, sans-serif;
}
.btn-send{
	background:#fff;
	float:left;
	padding:13px 58px;
	color:#000;
	letter-spacing:1px;
	margin:8px 0 0;
	border-bottom:2px solid #9b9c9c;
	font:24px/24px Helvetica, Arial, sans-serif;
}
.contact-form .btn-send:hover{text-decoration:none;}
.hidden{display:none;}

/*! fancyBox v2.0.6 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-tmp iframe, .fancybox-tmp object {
	vertical-align: top;
	padding: 0;
	margin: 0;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	padding: 0;
	margin: 0;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	padding: 0;
	margin: 0;
	position: relative;
	outline: none;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 10px;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	vertical-align: top;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('../images/fancybox_sprite.png');
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8020;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('../images/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	background: transparent url('../images/blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}
.fancybox-type-iframe .fancybox-nav  {
	height: 70%;
}
.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 20px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 20px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -9999px;
	left: -9999px;
	padding: 0;
	overflow: visible;
	visibility: hidden;
}

/* Overlay helper */

#fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: #000;
}

#fancybox-overlay.overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8030;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	margin-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/* VEGAS STYLING... VEGAS BABY */

.vegas-loading {
	-moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px;
	background:#000 url("../images/fancybox_loading.gif") no-repeat center center;
	background:rgba(0, 0, 0, 0.7) url("../images/fancybox_loading.gif") no-repeat center center;
	height:32px;
	left:20px;
	position:fixed;
	top:20px;
	width:32px; 
	z-index:0;
}

.vegas-overlay {
	background:transparent;
	opacity:0.5;
	z-index:-1;
}

.vegas-background {
	image-rendering: optimizeQuality;
	-ms-interpolation-mode: bicubic;
	z-index:-2;
}

/*About Page Style*/
section {
	clear:both;
	display:block;
}
.row.container {
	padding:2em 0;
}
#testimonials li, #testimonials {
	list-style-type: none;
}
#testimonials {
	margin:0;
}
#testimonials li {
	margin-bottom:3em;
}
.col-md-6 a {
	color:#333;
	text-transform: none;
}
#client-logos .col-md-2 {
	text-align: center;
	padding:.75em 0;
	display:block;
}
#client-logos .col-md-2 img{
	max-height:110px;
}
#about-title {
	font-size:46px;
	line-height: 53px;
	padding:19% 0 0 0;
}
#about-title sup {
	font-size:20px;
	font-weight: 300;
}
.grey-bar {
	text-align: center;
	position:relative;
	overflow:hidden;
	min-height:250px;
	padding:2em 0;
}
.grey-bar:after {
	content: '';
	position:absolute;
	top:24%;
	left:0;
	height:175px;
	background-color:#dbdcdc;
	width:100%;
	z-index: -1;
}
.grey-bar  img {
	width:100%;
}
.bio-pic img {
	max-width:470px;
	height: auto;
}
.bio-pic {
	text-align: left;
}
.mobile-bio-pic {
	display: none;
}
#social-section .grey-bar img {
	width:auto;
}
#testimonials .col-md-8 {
	padding:0 2em;
	float:right;
}
#testimonials .col-md-4 {
	float:left;
}
#testimonials img {
	width:90%;
}
#testimonials h2 {
	margin:0 0 2em 0;
}
#social-logos {
	text-align: right;
	display:table;
	padding: 3em 0 1em 0;
	width:100%;
}
#social-logos div, #social-logos h2 {
	display:table-cell;
}
#social-logos div {
	width:55px;
}
#social-logos img {
	vertical-align: bottom;
}
#social-section {
	border-top:75px solid #dbdcdc;
	margin:5em 0 3em 0;
}
.grey-bar .col-md-4 {
	width:32.7% !important;
	padding-right:0 !important;
	padding-left:0 !important;
	margin: 0 .3%;
}



@media only screen and (max-width:1200px) {
	.visual-list img, .post .video img, .post .gallery .frame img {
		width:100%;
		height:auto;
	}
	.post .text-block {
		margin-left:0;
	}
}

@media only screen and (max-width:1140px) {
	#social-section .grey-bar img {
		width:100%;
	}
	#social-logos {
		width:98%;
	}
	#social-logos h2 {
		padding:0;
	}
	.grey-bar::after {
		display:none;
	}
	p, h2, h3, h4 {
		padding:0 2em;
	}
	#about-title {
		padding: 0 0 0 .3em;
	}
	.bio-pic {
		text-align: center;
	}
	#testimonials .col-md-8 p, h2 {
		padding:0 1em 0 0;
	}
	.col-md-8 {
		width:61%;
	}
	#testimonials img {
		width:100%;
	}
}

@media only screen and (max-width:1080px) {
	.col-md-2 {
		width:20%;
	}
	#client-logos .col-md-2 img {
		max-height:100px;
		width:auto;
	}
}

@media only screen and (max-width:1014px) {
	#testimonials .col-md-8 {
		padding: 0 0 0 1em;
	}
}

@media only screen and (max-width:971px) {
.grey-bar .col-md-4 {
	width:32.6% !important;
	}
#social-section {
		margin:5em 0 0 0;
	}
}

@media only screen and (max-width:880px) {
	#nav ul li {
		margin: 0 15px;
	}
	
}


/* Mobile - Tablet-ish */
@media handheld, only screen and (max-width: 767px) {
	.fullscreen-callout {
		display: none;
	}
	
	#nav {
		float: left;
		padding: 15px 0;
		width:100%;
	}
	
	#nav ul {
		float: left;
		width:100%;
		text-align:center;
	}
	
	#nav ul li {
		display:inline-block;
		float:none;
		text-align:center;
	}
	
	#nav ul li.active:after, #nav ul li.active:before {
		top: -300px;
	}
	.collapse {
		display: block;
	}
	
	.slogan a .we-capture{
		left: 0px;
	}
	.gallery-post {
		position:static !important;
		width:100%;
		margin:1em 0;
	}
	.gallery-post:first-child {
		margin:4em 0 1em;
	}
	.gallery-post img {
		width:100%;
		height:auto;
	}
	.gallery-post header {
		width:100%;
		padding: 24px 0 25px;
	}
	.collapse {
		display:none;
	}
	nav[role="navigation"] .navbar {
		display:block;
	}
	.post {
		padding-bottom:0;
		margin-bottom:0;
	}
	.wpcf7-form .txt, .wpcf7-form-control-wrap.cf7-message textarea {
		width:100% !important;
	}
	.row .twocol.logo {
		margin:10px auto 0 auto;
	}
	.navbar-fixed-top .logo {
		height:27px;
	}
	#social-logos {
		text-align: center;
	}
	.col-md-6 {
		width:100%;
		margin:0;
	}
	p, h2, h1, h3 {
		padding:0 20px;
	}
	#social-logos h2 {
		padding:0;
		text-align: right;
		vertical-align: middle;
	}
	#social-logos {
		padding:3em 0 0 0;
	}
	#testimonials p, #testimonials h2 {
		padding:0;
	}
	#testimonials h2 {
		text-align: left;
	}
	#testimonials .row.container {
		padding:0 0 2em 0;
	}
	.grey-bar .col-md-4  {
		width:49.4% !important;
	}
	#bio-pictures {
		display:none;
	}
	.mobile-bio-pic {
		display: block;
		text-align: center;
	}
	.mobile-bio-pic img {
		width:100%;
		height:auto;
		max-width: 470px;
	}
	.col-md-11 {
		width:100%;
	}
	#main {
		padding-top:189px;
	}
}
@media only screen and (max-width: 649px) {
	#client-logos .col-md-2 {
		padding:1em;
	}
	#client-logos .col-md-2 img {
		max-height: 80px;
		width:auto;
	}
	.col-md-2 {
		width:25%;
	}
	#testimonials .col-md-4, #testimonials .col-md-8 {
		width:100%;
	}
	#testimonials .col-md-8 p {
		padding:0 2em;
	}
	 #testimonials .col-md-8 h2 {
		padding:0 1.5em;
	}
	#social-section .grey-bar {
		min-height:150px;
	}
	#testimonials img {
		width:100%;
	}
	#testimonials p {
		padding: 0 20px;
	}

}

/* Mobile - Phone-ish */
@media handheld, only screen and (max-width: 480px) {
	nav[role="navigation"] .navbar {
		display: block;
	}
	.collapse {
		display: none;
	}
	#nav, #nav ul  {
		width: 100%;
	}

	#nav ul li {
		float: none;
		width: 100%;
		text-align:left;
	}	
	#nav ul li a{
		display: block;
		width: 100%;
		padding: 5px 0;
    }
    
    .slogan{
		position:absolute;
		z-index:200;
		width:100%;
		top:50%;
		left: 0;
		margin-top:79px;
	}
	.slogan a {
		color: #FFF;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 125px;
		font-family: "franklin-gothic-ext-comp-urw";
		font-weight: 700;
		font-style: italic;
		position: static;
		display: block;
		width: 100%;
	}
	.slogan a .we-capture{
		position: static;
		display: block;
		left: 0px;
	}
	.slogan a .brand-passion{
		position: static;
		display: block;
		margin-top: 10px;
		text-align: right;
		padding-right: 25px;
	}
	.slogan a .learn-more{
		position: static;
		margin-top:25px;
		font-size: 18px;
		opacity: .40;
		text-align: right;
		margin-right: 40px;
		display: block;
	}
	.contact-section .col01 {
		width:35%;
	}
	#client-logos .col-md-2 img {
		max-height: 70px;
	}
	#testimonials {
		margin:-4em 0 0 0;
	}
	
}	
@media only screen and (max-width:400px) {
 	#about-title {
 		font-size:50px;
 		padding:0 20px .5em 20px;
 	}
 	#social-logos h2 {
 		font-size:100%;
 	}
}
@media only screen and (max-width:339px) {
	.grey-bar .col-md-4 {
		width: 100% !important;
		margin:0;
	}
}
