/*
	Theme Name: Halski
	Theme URI: http://atomicdust.com/
	Description: Theme files for Halski Studios.
	Author:  Atomicdust
	Author URI: http://atomicdust.com/
	
*/

.wp_title h1{
    text-align: center;
}
/* main elements */
.single-navigation{
    /* width: 650px; */
    min-height: 45px;
    color: #818586;
}
.single-navigation .next{
    float: right;
    width: 325px;
    text-align: right;
}
.single-navigation .prev{
    float: left;
    width: 325px;
    text-align: left;
}
.single-navigation a{
    text-decoration: none;
    color: #818586;
}
/* cf7 */
div.wpcf7 {
	margin: 0;
	padding: 0;
}
div.wpcf7-mail-sent-ok {
	border: 2px solid #398f14;
        text-align: center;
        padding: 2px;
        margin-top: 5px;
}
div.wpcf7-mail-sent-ng {
	border: 2px solid #ff0000;
        text-align: center;
        padding: 2px;
        margin-top: 5px;
}
div.wpcf7-spam-blocked {
	border: 2px solid #ffa500;
        text-align: center;
        padding: 2px;
        margin-top: 5px;
}
div.wpcf7-validation-errors {
	border: 2px solid #f7e700;
        text-align: center;
        padding: 2px;
        margin-top: 5px;
}
span.wpcf7-form-control-wrap {
	position: relative;
        display: block;
}
span.wpcf7-not-valid-tip {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	background: #fff;
	border: 1px solid #ff0000;
	font-size: 10pt;
	width: 442px;
	padding: 2px;
        font: 12px/22px Helvetica,Arial,sans-serif;
        height: 24px;
        text-align: center;
}
span.wpcf7-not-valid-tip-no-ajax {
	color: #f00;
	font-size: 10pt;
	display: block;
}
.wpcf7-display-none {
	display: none;
}
div.wpcf7 img.ajax-loader {
	border: none;
	vertical-align: middle;
	margin-left: 4px;
}
div.wpcf7 .watermark {
	color: #888;
}
/* style all.css */
.wpcf7-form{
	/*
float:left;
	width:449px;
*/
	padding-top:49px;
	margin:0;
	color:#666;
	font-size:0.846em;
	line-height:1.182em;
}
.contact-section .wpcf7-form h2{
	letter-spacing:1px;
	color:#000;
	margin-bottom:15px;	
	text-transform:uppercase;
	font-size:2.182em;
	line-height: 1em;
	font-family: "franklin-gothic-ext-comp-urw",sans-serif;
	font-style: normal;
}
.wpcf7-form h2 a{color:#000;}
.wpcf7-form .row{
	overflow:hidden;
	padding-bottom:14px;
}
.wpcf7-form label{
	display:block;
	padding-bottom:5px;
}
.wpcf7-form .txt{
	overflow:hidden;
	background:url(images/bg-txt.png);
	border:solid #c7c9c9;
	border-width:0 0 1px;
	float:left;
	width:429px;
	padding:7px 10px;
	margin:0;
	color:#666;
	font:12px/14px Helvetica, Arial, sans-serif;
}
.wpcf7-form textarea{
	overflow:auto;
	background:url(images/bg-txt.png);
	border:solid #c7c9c9;
	border-width:0 0 1px;
	float:left;
	width:429px !important;
	height:265px !important;
	padding:10px;
	margin:0;
	color:#666;
	font:12px/14px Helvetica, Arial, sans-serif;
}
.btn-send{
	background:#fff;
	float:left;
	padding:13px 58px;
	color:#000;
	letter-spacing:1px;
	margin:8px 0 0;
	border-bottom:2px solid #9b9c9c;
        border-top:none;
        border-left:none;
        border-right:none;
	text-transform:uppercase;
	font-size:24px;
	line-height: 24px;
	font-family: "franklin-gothic-ext-comp-urw",sans-serif;
	font-style: normal;
}
.wpcf7-form .btn-send:hover{text-decoration:none;}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }