<!-- Insert into About Us Page -->
<div class="col-md-12">
<div class="col-md-6">
<h2 id="about-title">Get to the good part.<sup>&trade;</sup></h2>
</div>
<div class="col-md-6">
<p><strong>Halski Studio is a Commercial Video and Still Production Company that is driven by emotional storytelling that generates results.</strong></p>
<p>We produce stories that have guts and soul and sometimes a dash of “WTF?”
We are defenders of diversity and auteurs of authenticity.
We are resolute in our grit and generous with the grins.
We have over 20 years of experience creating award-winning work
for clients ranging from global passion brands to local start-ups.
Our work is noted for being aspirational
and executed with high-production value.</p>
<p><strong>We offer Video Production, Post-Production, Photography, Concept Development & Creative Direction</strong></p>
<p>We are represented by Maria Hummel at <a href="http://hummelcreative.com/" target="_blank">hummelcreative.com</a></p>
</div>
</div>