<!--Banner Thumbnails Page-->
<div class="col-md-12">
<div class="col-md-4 col-sm-4 col-xs-6">
<img src="http://halski-dev.theloft.biz/wp-content/uploads/2018/01/banner-thumb-1.jpg">
</div>
<div class="col-md-4 col-sm-4 col-xs-6">
<img src="http://halski-dev.theloft.biz/wp-content/uploads/2018/01/banner-thumb-2.jpg">
</div>
<div class="col-md-4 col-sm-4 col-xs-6">
<img src="http://halski-dev.theloft.biz/wp-content/uploads/2018/01/banner-thumb-3.jpg">
</div>
<div class="col-md-4 col-sm-4 col-xs-6">
<img src="http://halski-dev.theloft.biz/wp-content/uploads/2018/01/banner-thumb-4.jpg">
</div>
<div class="col-md-4 col-sm-4 col-xs-6">
<img src="http://halski-dev.theloft.biz/wp-content/uploads/2018/01/banner-thumb-5.jpg">
</div>
<div class="col-md-4 col-sm-4 col-xs-6">
<img src="http://halski-dev.theloft.biz/wp-content/uploads/2018/01/banner-thumb-6.jpg">
</div>
</div>