<!--Insert Client Experience Page -->
<div class="col-md-6">
<h2>Select Client Experience</h2>
<p>We have extensive experience producing branded video and photography ranging from breakthrough multi-media campaigns for established international brands to buzz-building online videos for new start-up companies.</p>
</div>
<div class="col-md-12" id="client-logos">
	<div class="col-md-2"><img src="http://halski-dev.theloft.biz/wp-content/uploads/2018/01/att-logo.png"></div>
	<div class="col-md-2"><img src="http://halski-dev.theloft.biz/wp-content/uploads/2018/01/better-life-logo.png"></div>
	<div class="col-md-2"><img src="http://halski-dev.theloft.biz/wp-content/uploads/2018/01/cardinals-logo.png"></div>
	<div class="col-md-2"><img src="http://halski-dev.theloft.biz/wp-content/uploads/2018/01/cedia-logo.png"></div>
	<div class="col-md-2"><img src="http://halski-dev.theloft.biz/wp-content/uploads/2018/01/eastwood-logo.png"></div>
	<div class="col-md-2"><img src="http://halski-dev.theloft.biz/wp-content/uploads/2018/01/gilchrist-logo.png"></div>
	<div class="col-md-2"><img src="http://halski-dev.theloft.biz/wp-content/uploads/2018/01/hartford-logo.png"></div>
	<div class="col-md-2"><img src="http://halski-dev.theloft.biz/wp-content/uploads/2018/01/honey-bunches-logo.png"></div>
	<div class="col-md-2"><img src="http://halski-dev.theloft.biz/wp-content/uploads/2018/01/hshs-logo.png"></div>
	<div class="col-md-2"><img src="http://halski-dev.theloft.biz/wp-content/uploads/2018/01/jack-daniels-logo.png"></div>
	<div class="col-md-2"><img src="http://halski-dev.theloft.biz/wp-content/uploads/2018/01/jamo-logo.png"></div>
	<div class="col-md-2"><img src="http://halski-dev.theloft.biz/wp-content/uploads/2018/01/klipsch-logo.png"></div>
	<div class="col-md-2"><img src="http://halski-dev.theloft.biz/wp-content/uploads/2018/01/kohler-logo.png"></div>
	<div class="col-md-2"><img src="http://halski-dev.theloft.biz/wp-content/uploads/2018/01/kona-logo.png"></div>
	<div class="col-md-2"><img src="http://halski-dev.theloft.biz/wp-content/uploads/2018/01/mannapro-logo.png"></div>
	<div class="col-md-2"><img src="http://halski-dev.theloft.biz/wp-content/uploads/2018/01/missouri-logo.png"></div>
	<div class="col-md-2"><img src="http://halski-dev.theloft.biz/wp-content/uploads/2018/01/national-parks-logo.png"></div>
	<div class="col-md-2"><img src="http://halski-dev.theloft.biz/wp-content/uploads/2018/01/nccs-logo.png"></div>
	<div class="col-md-2"><img src="http://halski-dev.theloft.biz/wp-content/uploads/2018/01/nevco-logo.png"></div>
	<div class="col-md-2"><img src="http://halski-dev.theloft.biz/wp-content/uploads/2018/01/post-logo.png"></div>
	<div class="col-md-2"><img src="http://halski-dev.theloft.biz/wp-content/uploads/2018/01/pujols-logo.png"></div>
	<div class="col-md-2"><img src="http://halski-dev.theloft.biz/wp-content/uploads/2018/01/slu-logo.png"></div>
	<div class="col-md-2"><img src="http://halski-dev.theloft.biz/wp-content/uploads/2018/01/washu-logo.png"></div>
	<div class="col-md-2"><img src="http://halski-dev.theloft.biz/wp-content/uploads/2018/01/weissman-logo.png"></div>
	<div class="col-md-2"><img src="http://halski-dev.theloft.biz/wp-content/uploads/2018/01/yurbuds-logo.png"></div>
</div>
