<!--Client Thumbnails Page-->
<div class="col-md-12">
<div class="col-md-4 col-sm-4">
<img src="http://halski-dev.theloft.biz/wp-content/uploads/2018/01/client-experience-1.jpg">
</div>
<div class="col-md-4 col-sm-4">
<img src="http://halski-dev.theloft.biz/wp-content/uploads/2018/01/client-experience-2.jpg">
</div>
<div class="col-md-4 col-sm-4">
<img src="http://halski-dev.theloft.biz/wp-content/uploads/2018/01/client-experience-3.jpg">
</div>
</div>