<!--Insert into Mark Halski Bio Page-->
<div class="col-md-11">
<h3>Mark Halski<br/>Director</h3>
<p>Mark is a filmmaker known for his contagious passion, collaborative spirit, and unyielding drive towards effective, meaningful content. </p>
<p>Mark specializes in capturing the heart and soul of a brand and conveying this with conviction in the films and photography he creates. He has a striking visual sensibility that resonates with genuine emotion and authenticity throughout his work.</p>
<p>Mark has over 19 years of experience working as an advertising agency art director and photographer. With that experience comes a keen understanding of the creative process from start to finish. With strong conceptual abilities and expertise, he loves engaging clients and agencies at the concept stage of a project. </p>
<p>Mark’s client/agency experience includes AT&T, the St. Louis Cardinals, yurbuds Sport Earphones, Klipsch, Better Life, St. Louis University, The Watering Bowl. HLK, H&L Partners, Rodgers Townsend, Weber ­Shandwick, Manifest Digital, Arnold Worldwide, Osborn Barr, and Weissman Dancewear. </p>
<p>Mark has created commercial still and video for clients such as Klipsch, AT&T, The Hartford, Weissman Dancewear, Post Cereals, The Watering Bowl, Ameren, Missouri Department of Tourism, and for independent projects including El Monstero: The Movie and indie music video projects. </p>
</div>