<!--Insert into Meg Halski Bio Page-->
<div class="col-md-11">
<h3>Meg Halski<br/>Director</h3>
<p>Meg is an award-winning commercial and documentary 
director, creative director, writer, producer and strategist. 
Meg has directed teams for over 17 years. </p>
<p>Formally trained as a filmmaker, Meg got her start as a writer, photographer and independent, guerrilla-style filmmaker. She worked in public relations and media consulting for over ten years, directing teams toward powerful messaging and measurable outcomes. She strives for authentic stories, relateable characters, and sculpted scenes that enable powerful visual experiences and incite a call to action from the audience. </p>
<p>She is known for her intense creativity, direct communication and innate ability to navigate toward the bottom line on time. </p>
<p>Meg’s client experience includes H&L Partners, HLK, Rodgers Townsend, Manifest Digital, Darling Makery, The Watering Bowl, Weber Shandwick, and Weissman Dancewear. </p>
<p>Meg has shot commercial still and motion photography for Klipsch, AT&T, The Hartford, Weissman Dancewear, Post Cereals, The Watering Bowl, Ameren, Missouri Department of Tourism, St. Louis eve, and for independent projects including El Monstero: The Movie, The Bunglers, fashion photography, and indie music video projects.</p>
</div>