<!--Social Bar Page-->
<div class="row container">
<div id="social-logos">
<h2>Come hang out with us.</h2>
<div>
<a href="https://www.instagram.com/halskistudio/" target="_blank"><img src="http://halski-dev.theloft.biz/wp-content/uploads/2018/01/instagram.png"></a>
</div>
<div>
<a href="https://www.facebook.com/HalskiStudio" target="_blank"><img src="http://halski-dev.theloft.biz/wp-content/uploads/2018/01/facebook.png"></a>
</div>
<div>
<a href="https://vimeo.com/halskistudiovideo" target="_blank"><img src="http://halski-dev.theloft.biz/wp-content/uploads/2018/01/vimeo.png"></a>
</div>
</div>
</div>
<div class="grey-bar">
	<img src="http://halski-dev.theloft.biz/wp-content/uploads/2018/01/social-bar-banner.jpg">
</div>